<html>
    <head>
        <meta charset="UTF-8">
        <title>Utilizando o EJS</title>
    </head>
    <body>
        <form method="GET" action="/calculate-pricing">
            <h2> Digite o subdomínio: </h2>
            <input type="text" name="company_name"/>
            <input type="submit" />
        <form>
    </body>
</html>
